#topbar {
	background: url(/images/white-bg.png) repeat-x top left #000;
}
#topbar .container {
	padding: 67px 0 0;
	background: url(/images/docs-header.png) no-repeat top left;
}
.jelly-api-link {
	padding: 0 1em 1em;
	font-size: 1.2em;
	display: block;
}
